@{
    ViewBag.Title = "Buttons";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<form name="ButtonGenerator" id="ButtonGenerator">
    <div class="col-lg-6 panel panel-default">
        <div class="panel-body">
            <fieldset>
                <legend>Customize a button</legend>
                <p>Type:</p><br>
                <select name="PickButtonType" id="PickButtonType" onchange="javascript:generateButton();">
                    <option value="button">Button</option>
                    <option value="submit">Submit</option>
                    <option value="reset">Reset</option>
                </select>
                <p>Text:</p>
                <input type="text" name="ButtonText" value="This is a button" onkeyup="javascript:generateButton();">
                <p>Name</p>
                <input type="text" name="ButtonName" value="btn-name" onkeyup="javascript:generateButton();">
                <p>Target:</p><br>
                <select name="ButtonTarget" id="ButtonTarget" onchange="javascript:generateButton();">
                    <option value="_blank">_blank</option>
                    <option value="_self">_self</option>
                    <option value="_parent">_parent</option>
                    <option value="_top">_top</option>
                </select>
            </fieldset>
        </div>
    </div>
    <div class="col-lg-5 panel panel-default" id="preview">
        <div class="panel-body">
            <fieldset>
                <legend>Preview</legend>
                <div id="displayResult">
                </div>
            </fieldset>
        </div>
    </div>
    <div class="col-lg-11 panel panel-default">
        <div class="panel-body">
            <fieldset>
                <legend><button id="copy-btn" onclick="return false;">Copy Code</button></legend>
                <textarea name="generatedCode" id="generatedCode"></textarea>
            </fieldset>
        </div>
    </div>
</form>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/javascript")
<script>
    document.getElementsByTagName('body').onload = generateButton();
</script>
<script>
    $("button").click(function () {
        $("#generatedCode").select();
    document.execCommand('copy');
    alert("The Code was Copied!");
    });
</script>