@{
    ViewBag.Title = "Colors";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<form name="ListsGenerator" id="ListsGenerator">
    <div class="col-lg-6 panel panel-default" id="colorz">
        <div class="panel-body">
            <fieldset>
                <legend><button id="copy-btn" onclick="return false;">Get the color</button></legend>
                <p>Color:</p><br>
                <input type="text" id="color" name="color" value="#123456">
            </fieldset>
        </div>
    </div>
    <div class="col-lg-5 panel panel-default" id="preview">
        <div class="panel-body">
            <fieldset>
                <legend>Preview</legend>
                <div id="displayResult">
                </div>
            </fieldset>
        </div>
    </div>
</form>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/javascript")
<script src="~/Scripts/colorpicker.js"></script>

<script>
    $("button").click(function () {
    $("#color").select();
    document.execCommand('copy');
    alert("The Code was Copied!");
    });
</script>