@{
    ViewBag.Title = "Formatting";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<form name="FormattingGen" id="FormattingGen">
    <div class="col-lg-6 panel panel-default">
        <div class="panel-body">
            <fieldset>
                <legend>Format a word or a text</legend>
                <p>Enter a word or a text:</p><br>
                <input type="text" name="FormatText" value="Some random text" onkeyup="javascript:generateFormat();">
                <p>Format the text:</p><br>
                <select name="Format" id="Format" onchange="javascript:generateFormat();">
                    <option value="b">Bold Text</option>
                    <option value="strong">Important Text</option>
                    <option value="i">Italic Text</option>
                    <option value="em">Emphasized Text</option>
                    <option value="mark">Marked Text</option>
                    <option value="small">Small Text</option>
                    <option value="sub">Sbscript Text</option>
                    <option value="sup">Superscript Text</option>
                </select>
            </fieldset>
        </div>
    </div>
    <div class="col-lg-5 panel panel-default" id="preview">
        <div class="panel-body">
            <fieldset>
                <legend>Preview</legend>
                <div id="displayResult">
                </div>
            </fieldset>
        </div>
    </div>
    <div class="col-lg-11 panel panel-default">
        <div class="panel-body">
            <fieldset>
                <legend><button id="copy-btn" onclick="return false;">Copy Code</button></legend>
                <textarea name="generatedCode" id="generatedCode"></textarea>
            </fieldset>
        </div>
    </div>
</form>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/javascript")
<script>
    document.getElementsByTagName('body').onload = generateFormat();
</script>
<script>
    $("button").click(function () {
        $("#generatedCode").select();
    document.execCommand('copy');
    alert("The Code was Copied!");
    });
</script>