@{
    ViewBag.Title = "Headings";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<form name="HeadingGenerator" id="HeadingGenerator">
    <div class="col-lg-6 panel panel-default">
        <div class="panel-body">
            <fieldset>
                <p>Text:</p><br>
                <input type="text" name="HeadingText" value="Hello, This is a Heading!" onkeyup="javascript:generateHeading();">
                <legend>Customize a heading</legend>
                <p>Heading:</p><br>
                <select name="Heading" id="Heading" onchange="javascript:generateHeading();">
                    <option value="h1">h1</option>
                    <option value="h2">h2</option>
                    <option value="h3">h3</option>
                    <option value="h4">h4</option>
                    <option value="h5">h5</option>
                    <option value="h6">h6</option>
                </select>
            </fieldset>
        </div>
    </div>
    <div class="col-lg-5 panel panel-default" id="preview">
        <div class="panel-body">
            <fieldset>
                <legend>Preview</legend>
                <div id="displayResult">
                </div>
            </fieldset>
        </div>
    </div>
    <div class="col-lg-11 panel panel-default">
        <div class="panel-body">
            <fieldset>
                <legend><button id="copy-btn" onclick="return false;">Copy Code</button></legend>
                <textarea name="generatedCode" id="generatedCode"></textarea>
            </fieldset>
        </div>
    </div>
</form>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js "></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js "></script>
@Scripts.Render("~/bundles/javascript")
<script>
    document.getElementsByTagName('body').onload = generateHeading();
</script>
<script>
    $("button").click(function () {
        $("#generatedCode").select();
    document.execCommand('copy');
    alert("The Code was Copied!");
    });
</script>