@{
    ViewBag.Title = "Images";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<form name="ImageGenerator" id="ImageGenerator">
    <div class="col-lg-6 panel panel-default">
        <div class="panel-body">
            <fieldset>
                <legend>Customize an image</legend>
                <p>Image Source(URL):</p><br>
                <input type="text" name="ImageSource" value="https://newevolutiondesigns.com/images/freebies/tropical-beach-background-8.jpg"
                       onkeyup="javascript:generateImage();">
                <p>Alt:</p><br>
                <input type="text" name="ImageAlt" value="Picture" onkeyup="javascript:generateImage();">
                <p>Width:</p><br>
                <input type="text" name="ImageWidth" value="500" onkeyup="javascript:generateImage();">
                <p>Height:</p><br>
                <input type="text" name="ImageHeight" value="" placeholder="300" onkeyup="javascript:generateImage();">
            </fieldset>
        </div>
    </div>
    <div class="col-lg-5 panel panel-default" id="preview">
        <div class="panel-body">
            <fieldset>
                <legend>Preview</legend>
                <div id="displayResult">
                </div>
            </fieldset>
        </div>
    </div>
    <div class="col-lg-11 panel panel-default">
        <div class="panel-body">
            <fieldset>
                <legend><button id="copy-btn" onclick="return false;">Copy Code</button></legend>
                <textarea name="generatedCode" id="generatedCode"></textarea>
            </fieldset>
        </div>
    </div>
</form>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/javascript")
<script>
    document.getElementsByTagName('body').onload = generateImage();
</script>
<script>
    $("button").click(function () {
        $("#generatedCode").select();
    document.execCommand('copy');
    alert("The Code was Copied!");
    });
</script>