@{
    ViewBag.Title = "Layouts - Main";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<form name="MainGenerator" id="MainGenerator">
    <div class="col-lg-6 panel panel-default">
        <div class="panel-body">
            <fieldset>
                <legend>Main</legend>
                <p>Section text:</p><br>
                <input type="text" name="SectionText" value="This is the Section" onkeyup="javascript:generateMain();">
                <p>Article text:</p><br>
                <input type="text" name="ArticleText" value="This is the Article" onkeyup="javascript:generatedMain();">
                <p>Aside text:</p><br>
                <input type="text" name="AsideText" value="This is the Aside" onkeyup="javascript:generatedMain();">
            </fieldset>
        </div>
    </div>
    <div class="col-lg-5 panel panel-default" id="preview">
        <div class="panel-body">
            <fieldset>
                <legend>Preview</legend>
                <div id="displayResult">
                </div>
            </fieldset>
        </div>
    </div>
    <div class="col-lg-11 panel panel-default">
        <div class="panel-body">
            <fieldset>
                <legend><button id="copy-btn" onclick="return false;">Copy Code</button></legend>
                <textarea name="generatedCode" id="generatedCode"></textarea>
            </fieldset>
        </div>
    </div>
</form>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/javascript")
<script>
    document.getElementsByTagName('body').onload = generateMain();
</script>
<script>
    $("button").click(function () {
        $("#generatedCode").select();
    document.execCommand('copy');
    alert("The Code was Copied!");
    });
</script>