@{
    ViewBag.Title = "Layouts - Navigation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<form name="NavGenerator" id="NavGenerator">
    <div class="col-lg-6 panel panel-default">
        <div class="panel-body">
            <fieldset>
                <legend>Navigation</legend>
                <p>Nav text:</p><br>
                <input type="text" name="NavText" value="This is the Navigation" onkeyup="javascript:generateNav();">
                <p>Nav background color:</p><br>
                <select name="PickNavColor" id="PickNavColor" onchange="javascript:generateNav();">
                    <option value="background-color:#333;">graphite</option>
                    <option value="background-color:black;">black</option>
                    <option value="background-color:red;">red</option>
                    <option value="background-color:blue;">blue</option>
                    <option value="background-color:green;">green</option>
                    <option value="background-color:pink;">pink</option>
                    <option value="background-color:yellow;">yellow</option>
                </select>
                <p>Nav background hover color:</p><br>
                <select name="PickNavHoverColor" id="PickNavHoverColor" onchange="javascript:generateNav();">
                    <option value="background-color:black;">black</option>
                    <option value="background-color:#333;">graphite</option>
                    <option value="background-color:red;">red</option>
                    <option value="background-color:blue;">blue</option>
                    <option value="background-color:green;">green</option>
                    <option value="background-color:pink;">pink</option>
                    <option value="background-color:yellow;">yellow</option>
                </select>
            </fieldset>
        </div>
    </div>
    <div class="col-lg-5 panel panel-default" id="preview">
        <div class="panel-body">
            <fieldset>
                <legend>Preview</legend>
                <div id="displayResult">
                </div>
            </fieldset>
        </div>
    </div>
    <div class="col-lg-11 panel panel-default">
        <div class="panel-body">
            <fieldset>
                <legend><button id="copy-btn" onclick="return false;">Copy Code</button></legend>
                <textarea name="generatedCode" id="generatedCode"></textarea>
            </fieldset>
        </div>
    </div>
</form>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/javascript")
<script>
    document.getElementsByTagName('body').onload = generateNav();
</script>
<script>
    $("button").click(function () {
        $("#generatedCode").select();
    document.execCommand('copy');
    alert("The Code was Copied!");
    });
</script>