/* top css */

html,
body {
    height: 100%;
    margin: 0;
}

#body {
    background-color: #0aa0d9;
}

h3#tophead {
    padding: 20px;
    margin: 0;
}

#top {
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    background-color: #0c98cf;
}

#top a {
    padding: 10px 15px;
    padding-left: 0;
    color: white;
}

#top a:hover {
    text-shadow: 0px 0px 1px white;
    text-decoration: none;
}

#register-right {
    list-style-type: none;
    float: right;
}

#register-right li {
    float: left;
}

#register-right li.icon {
    display: none;
}


/*nav*/

p.list {
    margin-left: 10px;
    font-size: 15px;
}

p {
    padding-top: 10px;
    padding-left: 15px;
}

hr {
    width: 80%;
}

ul.sidenav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 20%;
    background-color: white;
    position: fixed;
    height: 95%;
    overflow: auto;
}

ul.sidenav li a {
    display: block;
    color: #000;
    padding: 17px;
    padding-left: 50px;
    text-decoration: none;
}

ul.sidenav li a.active {
    background-color: steelblue;
    color: white;
}

ul.sidenav li a:hover:not(.active) {
    background-color: #555;
    color: white;
}


/* when screen resizes */

@media screen and (max-width:1000px) {
    #top {
        display: block;
    }
    ul#register-right {
        padding: 0;
        margin: 0;
    }
    ul#register-right li {
        display: none;
    }
    ul#register-right li.icon {
        float: right;
        display: block;
        margin-top: 5px;
        padding: 5px;
    }
    ul#register-right li.icon a {
        text-decoration: none;
    }
    #side {
        width: 270px;
    }
    .sidenav {
        display: none;
    }
    .hide-show {
        z-index: 1;
        display: block;
    }
    #content-id {
        margin-left: 0;
    }
}


/* content */

#wrapthem {
    margin-top: 66px;
}

.content {
    margin-left: 20%;
    padding: 1px 16px;
}

#mainbody {
    height: 100%;
    background-color: #0aa0d9;
}

#mainbody header {
    padding-bottom: 10px;
}

#mainbody header a {
    color: white;
    text-decoration: none;
}

fieldset p {
    margin: 0;
    padding-left: 0;
    padding-top: 15px;
}

#preview {
    overflow: auto;
    min-height: 274px;
    max-height: 463px;
}

#preview-code {
    width: 100%;
}

select {
    padding: 10px;
    width: 100%;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid lightgray;
}

input {
    padding: 10px;
    width: 100%;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid lightgray;
}

#code {
    color: black;
    background-color: white;
}

textarea {
    width: 100%;
    border: 0px;
    border-bottom: 1px solid lightgray;
}

textarea#generatedCode {
    width: 100%;
    max-width: 100%;
    height: 200px;
}

#copy-btn {
    background-color: steelblue;
    color: white;
    border-radius: 3px;
    border: 1px solid transparent;
    padding: 5px;
}

.panel {
    margin: 5px;
}

#colorz {
    min-height: 278px;
}

header {
    color: white;
}
table td{
    width: 200px;
}

#table td {
    padding: 15px;
}

#table td.mail {
    width: 50%;
}

#table th {
    width: 45%;
    padding: 15px;
}

input#color {
    width: 100%;
    height: 100px;
}


/* end */