
<div id="top">
    <div class="row">
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-2">
            <h3 id="tophead"><a href="@Url.Action("Index", "Home")">Home</a></h3>
        </div>
        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-10">
            <ul id="register-right">
                <li class="icon">
                    <a href="javascript:void(0);" style="font-size:30px;" onclick="myFunction()">☰</a>
                </li>
            </ul>
        </div>
    </div>
</div>
