@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-lg-10 panel panel-default">
    <div class="panel-body">
        <div class="table-responsive">
            @if (ViewBag.Message == "User was removed.")
            {
            <h3 class="text-center text-success">@ViewBag.Message</h3>
            }
            else
            {
            <h3 class="text-center text-danger">@ViewBag.Message</h3>
            }
            <fieldset>

                <legend>About:</legend>
                <p>
                    The HTML5 Genarator is a project given to our team of 5 people.<br> The task is to create
                    a generator for users to simply customize html code and then copy it to their own site.
                </p><br>
                <table id="table">
                    <thead>
                        <tr>
                            <th class="center">Creators:</th>
                            <th class="center">Faculty Number:</th>
                            <th class="center">E-mail:</th>
                        </tr>
                    </thead>
                    <tr>
                        <th>1. Konstantin Emir Al-Niazi</th>
                        <td>F75171</td>
                        <td class="mail">
                            <a href="mailto:konstantin.alniazi@abv.bg">Mail</a>
                        </td>
                    </tr>
                    <tr>
                        <th>2. Vesko Slavchov Veskov</th>
                        <td>F75433</td>
                        <td class="mail">
                            <a href="mailto:theveskes@abv.bg">Mail</a>
                        </td>
                    </tr>
                    <tr>
                        <th>3. Iliyan Kirilov Kodzhemanov</th>
                        <td>F64419</td>
                        <td class="mail">
                            <a href="mailto:favorite1990@abv.bg">Mail</a>
                        </td>
                    </tr>
                    <tr>
                        <th>4. Dimitur Stanchev Germanov</th>
                        <td>F74659</td>
                        <td class="mail">
                            <a href="mailto:bisolin4o@abv.bg">Mail</a>
                        </td>
                    </tr>
                    <tr>
                        <th>5. Nikolai Minchev</th>
                        <td>F74348</td>
                        <td class="mail">
                            <a href="mailto:rumnick@mail.bg">Mail</a>
                        </td>
                    </tr>
                </table>
            </fieldset>
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/javascript")